{% extends 'base.html.twig' %}

{% block body %}
    <p>This page uses a custom twig layout, without the default menu.</p>

    <h2>PageFinder examples</h2>
    <h3>All pages</h3>
    <ul id="all-pages">
        {% for single_page in zg_pages() %}
            <li>{{ _self.link_page(single_page) }}</li>
        {% endfor %}
    </ul>

    <h3>Page tree</h3>
    <ul id="page-tree">
        {% for single_page in zg_pages().depth('== 0') %}
            <li>
                {{ _self.link_page(single_page) }}
                {% if single_page.children()|length %}
                    <ul>
                        {% for child in single_page.children() %}
                            <li>{{ _self.link_page(child) }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h3>Filter by tag: #my-tag</h3>
    <ul id="tagged-my-tag">
        {% for single_page in zg_pages().tag('my-tag') %}
            <li>{{ _self.link_page(single_page) }}</li>
        {% endfor %}
    </ul>

    <h3>Sort by title</h3>
    <ul id="sorted-by-title">
        {% for single_page in zg_pages().sortByTitle() %}
            <li>{{ _self.link_page(single_page) }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% macro link_page(page) %}
    {# page \ZeroGravity\Cms\Content\Page #}
    <a href="{{ path(page.path) }}"><code>{{ page.path }}</code>: {{ page.title }}</a>
{% endmacro link_page %}
