{# collector \ZeroGravity\CmsBundle\DataCollector\ZeroGravityDataCollector #}
{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set name %}zero-gravity-cms{% endset %}

    {% set page = collector.servedPage %}

    {% set icon %}
        {{ source('@ZeroGravityCms/Profiler/Icons/file-code.svg') }}
        {% if page %}
            <span class="sf-toolbar-value">{{ collector.servedPage.path }}</span>
        {% else %}
            <span class="sf-toolbar-value">ZeroGravity CMS</span>
        {% endif %}
    {% endset %}

    {% if collector.servedPage %}
        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>Path</b>
                <span>{{ page.path }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Title</b>
                <span>{{ page.title }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Authors</b>
                <span>{{ page.authors|join(', ') }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Tags</b>
                <span>{{ page.tags|join(', ') }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Categories</b>
                <span>{{ page.categories|join(', ') }}</span>
            </div>
        {% endset %}
    {% else %}
    {% endif %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url }) }}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon">{{ source('@ZeroGravityCms/Profiler/Icons/file-code.svg') }}</span>
        <strong>ZeroGravity CMS</strong>
    </span>
{% endblock %}

{% block panel %}
    {% set name %}zero-gravity-cms{% endset %}

    <h2>ZeroGravity CMS</h2>

    {% if collector.requestedPage %}
        <h3>Page provided by <code>_zg_page</code> route parameter</h3>

        {{ _self.page_details(collector, collector.requestedPage) }}
    {% endif %}

    <h3>All pages</h3>
    {{ _self.page_table(collector, collector.allPages) }}
{% endblock %}

{% macro page_details(collector, page) %}
    {# page \ZeroGravity\Cms\Content\ReadablePage #}
    <table>
        <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        </thead>
        <tr>
            <th>Full path</th>
            <td><code>{{ page.path }}</code></td>
        </tr>
        <tr>
            <th>Filesystem path</th>
            <td><code>{{ page.filesystemPath }}</code></td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ page.name }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ page.title }}</td>
        </tr>
        <tr>
            <th>Slug</th>
            <td><code>{{ page.slug }}</code></td>
        </tr>
        <tr>
            <th>Taxonomies</th>
            <td>{{ profiler_dump(collector.pageTaxonomies(page)) }}</td>
        </tr>
        <tr>
            <th>Non-default setting values</th>
            <td>{{ profiler_dump(collector.pageNonDefaultSettings(page)) }}</td>
        </tr>
        <tr>
            <th>Fully compiled setting values</th>
            <td>{{ profiler_dump(collector.pageSettings(page)) }}</td>
        </tr>
        {% if page.children|length %}
            <tr>
                <th>Child pages</th>
                <td>
                    {% for child in page.children %}
                        <a href="{{ path(child.path) }}"><code>{{ child.path }}</code></a>
                        {{ profiler_dump(collector.pageSettings(child)) }}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
    </table>
{% endmacro %}

{% macro page_table(collector, pages) %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Path</th>
            <th>Title</th>
            <th>Content type</th>
            <th><abbr title="Only published pages will be publicly accessible">Published</abbr></th>
            <th><abbr title="Only visible pages will show up in default KnpMenus">Visible</abbr></th>
            <th><abbr title="Modular pages show a collection of sub module pages">Modular</abbr></th>
            <th><abbr title="Modules define sub content of modular pages. They are not routable">Module</abbr></th>
            <th>Files</th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            {{ _self.page_table_row(collector, page) }}
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro page_table_row(collector, page) %}
    {# page \ZeroGravity\Cms\Content\ReadablePage #}
    <tr class="{% if page.published %}page-published{% endif %} {% if page.visible %}page-visible{% endif %} ">
        <td>{{ page.name }}</td>
        <td>{{ page.path }}</td>
        <td>{{ page.title }}</td>
        <td>{{ page.contentType }}</td>
        <td>{% if page.published %}{{ source('@ZeroGravityCms/Profiler/Icons/square-check.svg') }}{% else %}{{ source('@ZeroGravityCms/Profiler/Icons/square.svg') }}{% endif %}</td>
        <td>{% if page.visible %}{{ source('@ZeroGravityCms/Profiler/Icons/eye.svg') }}{% else %}{{ source('@ZeroGravityCms/Profiler/Icons/eye-off.svg') }}{% endif %}</td>
        <td>{% if page.modular %}{{ source('@ZeroGravityCms/Profiler/Icons/packages.svg') }}{% endif %}</td>
        <td>{% if page.module %}{{ source('@ZeroGravityCms/Profiler/Icons/box.svg') }}{% endif %}</td>
        <td>{{ page.files|length }}</td>
    </tr>
{% endmacro %}
