{# page \ZeroGravity\Cms\Content\Page #}
{% extends 'base.html.twig' %}

{% block title %}<title>{{ page.title }} - {{ parent()|striptags }}</title>{% endblock %}

{% block content %}
    {{ zg_render(page) }}
{% endblock %}
