{# page \ZeroGravity\Cms\Content\Page #}
{% extends 'base.html.twig' %}

{% block title %}{{ page.title }} - {{ parent()|striptags }}{% endblock %}

{% block menu %}
    <div id="menu-container">
        {{ knp_menu_render('zero-gravity', {'depth': null}) }}
    </div>
{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p><em>Basic layout for all zero gravity pages</em></p>

    {{ zg_render(page) }}
{% endblock %}
